<h3>Hello <%= @user.full_name %></h3>
<h4>Thank you for Signing up with STEM-LAB as an <%= @user.role %></h4>
<hr>
<p>Just a few more steps before you can access and contribute to STEM-LAB</p>
<p><strong>Please follow the link below to confirm your email:</strong></p>
<p><em style='color:firebrick'>If you have received this message in error, please disregard and delete this email</em></p>
<hr>
<h3><%= link_to 'CONFIRM MY EMAIL', confirmation_user_url(@user.confirmation_token) %></h3>
<hr>
<p>Thank you and welcome to STEM-LAB,</p>
<p>The STEM-LAB Team</p>
