body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 100%), url(sl-bg-2.jpg);
  background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  height: 150px;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 2;
  border-bottom: solid black 3px;
  background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 100%), url(head-bg-2.jpg);
  background-position: center;
  animation: 5s linear 0s infinite Headanim;
}

@keyframes Headanim {
  0% {filter: hue-rotate(0deg);}
  50% {filter: hue-rotate(180deg);}
  100% {filter: hue-rotate(360deg);}
}

.header-left {
  height: 150px;
  padding-right: 50px;
  padding-left: 30px;
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%)
}

.header-left a {
  color:white;
}

.header-left h1 {
  font-size: 3.5em;
}

.header-right {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-right-top h1 {
  border-radius: 8px;
  margin-left: 20px;
  color: white;
  padding: 0 5px;
  background: radial-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}

.header-right-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-right-bottom a {
  border-radius: 8px;
  margin-left: 20px;
  color: white;
  padding: 0 5px;
  background: radial-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}

.main-div {
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: center;
}


.button-nav {
  padding: 8px;
  border-radius: 5px;
  background-color: black;
  margin: 20px auto;
}

.button-nav a {
  color: white;
}

.alert-div {
  width: 80vw;
  border: solid firebrick 2px;
  background-color: salmon;
  color: firebrick;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}

.notice-div {
  width: 80vw;
  border: solid darkgreen 2px;
  background-color: palegreen;
  color: darkgreen;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}

.login-field {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 400px;
  margin: 20px 0;
}

.login-field label {
  font-weight: bolder;
}

.form-submit-div {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.form-submit-div input {
  padding: 10px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-holder {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}


.card, {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  margin: 30px;
  padding: 20px;
  background-color: silver;
  filter: grayscale(0.9) drop-shadow(0 0 30px silver);
}

.login {
  filter: grayscale(0) drop-shadow(0 0 30px silver);
}

.card h2 {
  text-align: center;
  margin-bottom: 10px;
}

.card-holder a {
  color: black;
}

.card-photo {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: solid grey 2px;
  background-color: goldenrod;
  background-position: center;
  background-size: cover;
}

.card:hover {
  filter: grayscale(0) drop-shadow(0 0 30px salmon);
}

.login:hover {
  filter: grayscale(0) drop-shadow(0 0 30px silver);
}

form {
  margin: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.input-label {
  width: 100%;
  text-align: center;
}
.input-field {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
  border-radius: 10px;
}

.experiment-megapanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 8px;
  margin: 30px 0 0 0;
  padding: 20px;
  background-color: silver;
  filter: grayscale(0) drop-shadow(0 0 30px silver);
}


.experiment-subpanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0 0 0;
  padding: 20px;
  background-color: silver;
  filter: grayscale(0) drop-shadow(0 0 30px silver);
}

.experiment-megaimage {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  border: solid grey 2px;
  background-color: goldenrod;
  background-position: center;
  background-size: cover;
}

.card-photo {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: solid grey 2px;
  background-color: goldenrod;
  background-position: center;
  background-size: cover;
}

.materials-div {
  width: 100%;
  margin: 0 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 0;
}

.procedures-list {
  display: none;
}

.messages-list {
  display: none;
}

.materials-table {
  display: none;
}

.materials-table, #data-submit-table {
  margin-top: 30px;
  width: 80%;
}

.materials-table td {
  padding: 5px 15px;
}

.quantity-cell {
  text-align: right;
}

th {
  text-align: center;
}

.procedures-div, .messages-div {
  margin: 0 60px;
}

.procedures-div h2, .messages-div h2 {
  text-align: center;
}

.new-experiment-tags-div {
  display: flex;
  flex-direction: row;
}

.card-tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tag-div, .filter-tag-div {
  padding: 3px;
  border-radius: 8px;
  color: white;
  margin: 5px;
  background-color: black;
  font-weight: bolder;
}

.tag-filter-holder {
  width: 80%;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: silver;
  margin-bottom: 30px;
  padding: 10px;
  filter: drop-shadow(0 0 30px silver);
}

.selected-tag {
  filter: drop-shadow(0 0 5px red);
  color: salmon;
}

#d3-chart {
  background-color: white;
  border: solid grey 2px;
  border-radius: 8px;
}

#data-submit-form-div {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#data-submit-form-div form {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 0px;
}

#data-submit-form-div form input {
  margin: 0;
  width: 80%;
  margin-bottom: 10px;
}

#data-submit-table {
  margin-top: 0;
}

#data-submit-table tr {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  width: 100%;
}

#data-submit-table td, #data-submit-table th {
  display: flex;
  justify-content: center;
  width: 50%
}

.ed-card-assigned {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  margin: 40px 20px;
  padding: 20px;
  background-color: silver;
  filter: drop-shadow(0 0 30px blue);
}

.ed-card, {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  margin: 40px 20px;
  padding: 20px;
  background-color: silver;
  filter: drop-shadow(0 0 30px silver);
}

.ed-card h2, .ed-card-assigned h2 {
  text-align: center;
  margin-bottom: 10px;
}

.button-nav h3 a {
  color: white;
}
