<div class='header expert'>
  <div><h2>Welcome <%= current_user.full_name %></h2></div>
  <div class='header-nav expert'><h3><%= link_to 'Experiments', experiments_path %></h3></div>
  <div class='header-nav expert'><h3><%= link_to 'Log Out', sessions_path, method: :delete %></h3></div>
</div>
